
NODE_ENV=development

DB_PASSWORD=
DB_NAME=
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres

TASA_MORA_DIARIA=0.02
CORS_ORIGIN=http://localhost:4200
JWT_REFRESH_SECRET=CHANGE_ME_USE_ANOTHER_LONG_RANDOM_STRING

# PARA LAS IMAGENES
PORT=3000
HOST_API=http://localhost:3000/api

JWT_SECRET=CHANGE_ME_USE_A_LONG_RANDOM_STRING